body {
    display: flex;
    background-color: #f8f9fa; /* Fondo gris claro */
}

/* Wrapper general para mantener la estructura */
#wrapper {
    display: flex;
    width: 100%;
    height: 100vh;  /* Ocupar toda la altura de la ventana */
    overflow: hidden;
}

/* Sidebar (menú lateral) */
#sidebar-wrapper {
    width: 250px;  /* Ancho fijo para el menú lateral */
    background: linear-gradient(to bottom, #007BFF, #0056b3);  /* Mantener el gradiente */
    color: white;
    min-height: 100vh;  /* Ocupar toda la altura de la ventana */
}

.sidebar-heading {
    font-size: 1.2rem;
    color: white;
    padding: 1rem 1.25rem;
}

/* Ítems del menú */
.list-group-item {
    background-color: transparent !important;
    color: white;
    padding: 20px 30px;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.list-group-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Contenido principal */
#page-content-wrapper {
    flex-grow: 1;  /* Esto hace que el contenido ocupe todo el espacio restante a la derecha */
    padding: 20px;
    overflow-y: auto;  /* Permite el desplazamiento vertical del contenido si es necesario */
    background-color: #f8f9fa;  /* Fondo claro para el contenido */
}

.login-container {
    background-color: #ffffff; /* Fondo blanco */
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.alert {
    margin-bottom: 1rem;
}

.table {
    margin-top: 20px;
}

