{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h1 class="my-4">Dashboard</h1>

<!-- Sección para la gráfica de Chart.js -->
<canvas id="myChart" width="400" height="200"></canvas>

<!-- Gráfica de "Relajado" -->
<h2>Gráfica Relajado</h2>
<img src="{{ url_for('plot_relajado') }}" alt="Gráfica Relajado" class="img-fluid" />

<!-- Gráfica de "Agitado" -->
<h2>Gráfica Agitado</h2>
<img src="{{ url_for('plot_agitado') }}" alt="Gráfica Agitado" class="img-fluid" />

<script>
    // Código para la gráfica de Chart.js (si ya lo tienes implementado)
    fetch('/data')
    .then(response => response.json())
    .then(data => {
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: data.labels,
                datasets: [{
                    label: 'Sample Data',
                    data: data.values,
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    });
</script>

{% endblock %}
