{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h1 class="my-4">Dashboard</h1>

<!-- Contenedor de la grilla 3x2 -->
<div class="container-fluid">
    <div class="row">
        <!-- Primera tarjeta: Gráfico Relajado -->
        <div class="col-lg-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <img src="{{ url_for('plot_relajado') }}" alt="Gráfica Relajado" class="img-fluid">
                    <p class="description">Ondas de recepción - Relajado</p>
                </div>
            </div>
        </div>

        <!-- Segunda tarjeta: Gráfico Agitado -->
        <div class="col-lg-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <img src="{{ url_for('plot_agitado') }}" alt="Gráfica Agitado" class="img-fluid">
                    <p class="description">Ondas de recepción - Agitado</p>
                </div>
            </div>
        </div>

        <!-- Nueva tarjeta: Gráfico Mind Monitor -->
        <div class="col-lg-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <img src="{{ url_for('plot_mind_monitor') }}" alt="Gráfica Mind Monitor" class="img-fluid">
                    <p class="description">Ondas Cerebrales - Mind Monitor</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
